<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <jmxConfigurator/>

    <property name="LOG_FILE" value="${LOG_PATH}/priceland-web.log"/>
    <property name="ADDITIONAL" value="%X{REQUEST_ID} %X{TRACE_ID}"/>
    <property name="LOG_LEVEL_PATTERN" value="priceLand %5p${ADDITIONAL}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILE" class="com.dnight.base.framework.common.logback.EARollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}/1.%i.log</fileNamePattern>
            <!-- 如果按天来回滚，则最大保存时间为30天，30天之前的都将被清理掉 -->
            <maxHistory>30</maxHistory>
            <!-- 日志总保存量为10GB -->
            <totalSizeCap>10 GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--文件达到 最大128MB时会被压缩和切割 -->
                <maxFileSize>128 MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.dnight.base.framework" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <springProfile name="dev">
        <!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE"/>
        <logger name="org.hibernate.SQL" level="TRACE"/>
        <logger name="org.hibernate.type" level="TRACE"/>
        <logger name="org.hibernate.engine.QueryParameters" level="TRACE"/>
        <logger name="org.hibernate.engine.query.HQLQueryPlan" level="TRACE"/>-->
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>